name: Build Mac App

on:
  push:
    branches: [ "main" ]

jobs:
  build-mac:
    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v4  # v3 -> v4 업데이트
    
    - name: Set up Python
      uses: actions/setup-python@v5 # v4 -> v5 업데이트
      with:
        python-version: '3.10'
        
    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        # 맥 빌드용 라이브러리 설치
        pip install opencv-python-headless numpy PyQt5 pymupdf pillow pyinstaller
        
    - name: Build App
      run: |
        # 맥용 앱 빌드
        pyinstaller --noconsole --onefile --windowed --name "OsteoinReportPR" osteoin.py
        
    - name: Zip the App
      run: |
        cd dist
        # .app 폴더를 zip으로 압축
        zip -r OsteoinReportPR_Mac.zip OsteoinReportPR.app
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4 # [중요] v3 -> v4로 수정됨
      with:
        name: Mac-App-Download
        path: dist/OsteoinReportPR_Mac.zip
